name: CI

permissions: {}

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    timeout-minutes: 2
    permissions:
      contents: read
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs-version:
          - "30.1"
          - "29.4"
          - "28.2"
          - "27.2"
          - "26.3"
          - "25.3"
          - "24.5"
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Setup Emacs
        uses: purcell/setup-emacs@8415786a52b3a84babd7ffc92a802b06e3780c17
        with:
          version: ${{ matrix.emacs-version }}
      - name: Build
        run: emacs --batch --quick --directory . --eval "(progn (setq byte-compile-error-on-warn nil) (batch-byte-compile))" *.el
      - name: Prepare history
        run: |
          mkdir -p /home/runner/.emacs.d/
          touch /home/runner/.emacs.d/history
      - name: Test
        run: emacs --batch --quick --directory . --load tests/*.el --eval "(ert-run-tests-batch-and-exit t)"
